<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ "/" | relative_url }}" class="site-title" style="font-weight:bold; font-size:200%;">{{ site.title }}</a>
      <p style="clear:both; color:#777; font-weight:normal; font-size:120%;">{{site.description}}</p>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
<svg class="header-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0.2 3.2 1440.2 332.8" preserveAspectRatio="none">
  <path d="M 409.3 3.2 C 229 -4.3 94.7 12.9 0.2 35 v 301 h 1440.2 V 290.5 C 964.7 235.4 791.9 19.3 409.3 3.2 z"/>
</svg>
<!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->

