
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.content-container {
  display: flex;
  position: relative;
  left: -5em;
}

.social {
  justify-content: flex-end;
  align-content: stretch;
  margin-right: 2em;
}

.pull-quote {
  display: block;
  float: right;
  padding: 10px 10px 0 10px;
  margin: 0 0 10px 10px;
  width: 60%;
  font-size: 1.3em;
  line-height: 1.2em;
  text-align: right;
  color: #666;
  font-style: italic;
  background: url('../images/quotemarks.png') top left no-repeat;
  background-size: 100px;
}


.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
